<%= provide(:title,"top") %>
<div class="home">
  <div class="container">
    <div class="home-title">
      <h1>diary_appへようこそ!</h1>
    </div>
    <div class="home-text">
      <h2>diary_appは人には見られたくないけど、この出来事や気持ちなどを何かに書き留めておきたい...！<br>
      そんな人たちの力になれればと思い、制作しました。</h2>
      <h2>人それぞれ日記の使い方や形は違うので、あなただけの日記を作ってください。<br>
      そしてあなたにとって少しでもお役に立てれば幸いです。</h2>
    </div>
  </div>
</div>
